<head>
<link rel="stylesheet" href="./style.css" type="text/css"
</head>
.p {
  color: Blue;
}
.ul {
  color: Blue;
}
.ol {
  color: Blue;
}
.h1 {
  color: Blue;
}
.header {
  color: Blue;
}
.body {
  color: Blue;
}

.footer {
  color: Blue;
}
